<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"> 
	<title>Github Readme 翻译机</title>
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">  
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<form role="form" action='/result' method="post">
	<div class="form-group">
		<label for="name"><h2>输入你的readme文件内容</h2></label>
		<textarea name='readme' rows="20" class="form-control"></textarea>
    <br>
    <center>
     <button type="submit" width='30%' type="button" class="btn btn-primary btn-lg">提交表单</button>
      </center>
	</div>
</form>

</body>
</html>