<div style="white-space:pre"># Making the included README file online english-chinese translation  
# 在线Github README文件英汉双译
</div><div style="white-space:pre">  

</div><div style="white-space:pre">## The original warehouse address  
## 原仓库地址
</div><div style="white-space:pre">  

</div><div style="white-space:pre">[https://github.com/hllqk/Making-the-Readme-translation-machine](https://github.com/hllqk/Making-the-Readme-translation-machine)  
</div><div style="white-space:pre">  

</div><div style="white-space:pre">## Online address  
## 在线地址
</div><div style="white-space:pre">  

</div><div style="white-space:pre">[Github Readme 翻译机 (hllqk.repl.co)](https://spiffyeuphoricvoxel.hllqk.repl.co/)  
</div>